{%- liquid
  assign item_link = item_link | default: ''
  assign unique = unique | default: ''
  assign item_enable_sound = item_enable_sound | default: true

  # Parse video type and ID from the link
  assign item_link_downcase = item_link | downcase
  assign item_link_type = ''
  assign item_link_id = ''
  assign item_id = 'item-video-' | append: unique

  # Parse string URL
  if item_link contains 'vimeo.com'
    assign item_link_type = 'vimeo'
  elsif item_link contains 'youtube.com'
    assign item_link_type = 'youtube'
  elsif item_link contains 'youtu.be'
    assign item_link_type = 'youtube'
    assign youtube_shortlink = true
  elsif item_link_downcase contains '.mp4'
    assign item_link_type = 'native'
  endif

  # Extract video ID from URL
  assign link_array = item_link | split: '/'
  assign id_with_params = link_array | last

  if item_link_type == 'vimeo' or youtube_shortlink
    comment
      https://vimeo.com/[ID]?foo=bar&baz=boo
      https://youtu.be/[ID]?foo=bar&baz=boo
    endcomment
    assign starts_with_id = id_with_params | split: '?'
    assign item_link_id = starts_with_id | first
  elsif item_link_type == 'youtube'
    comment
      https://youtube.com/watch?v=[ID]?foo=bar&baz=boo
    endcomment
    assign first_param = id_with_params | split: '&' | first
    assign watch_then_id = first_param | split: '?'
    assign equals_id = watch_then_id[1]
    assign ends_with_id = equals_id | split: '='
    assign item_link_id = ends_with_id | last
  endif

  # Normalize video link URLs
  if item_link_type == 'youtube'
    assign item_link = 'https://www.youtube.com/watch?v=' | append: item_link_id
  elsif item_link_type == 'vimeo'
    assign item_link = 'https://vimeo.com/' | append: item_link_id
  endif
-%}
{%- if item_link != '' -%}
  {%- capture data_html_video -%}
    <div class="pswp__custom-inner">
      <div class="pswp__custom-content">
        <div class="iframe-outer{% if item_link_type != 'native' %} pswp__custom-iframe-outer{% else %} pswp__custom-native{% endif %}">
          {%- if item_id != '' -%}
            {%- if item_link_type == 'native' -%}
              <video
                id="{{ item_id }}"
                class="pswp__custom-iframe"
                data-video-type="{{ item_link_type }}"
                data-video-id="{{ item_id }}"
                playsinline
                autoplay
                loop
                controls
                {% unless item_enable_sound %}muted{% endunless %}
                width="320"
                height="240">
                {% comment %} theme-check-disable RemoteAsset {% endcomment %}
                <source src="{{ item_link }}" type="video/mp4" />
                {% comment %} theme-check-enable RemoteAsset {% endcomment %}
              </video>
            {%- else -%}
              <div id="{{ item_id }}" class="pswp__custom-iframe"
                data-video-type="{{ item_link_type }}"
                data-video-id="{{ item_link_id }}"
                data-enable-sound="{{ item_enable_sound }}"></div>
            {%- endif -%}
          {%- else -%}
            {% render 'video-iframe' video_object: item_link %}
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endcapture -%}
  {%- assign data_html_video = data_html_video | replace: '"', "'" -%}
  {{ data_html_video | strip }}
{%- endif -%}
